body {
    background-color:skyblue;
    border:2px solid white;
  }
  
  h1 {
    text-align: center;
    color:rgb(53, 10, 53);
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  a{
    text-transform: capitalize;
  }
  tr{
    background-color: azure;
  }
 
  hr {
    height: 2px;
    background-color: white; /* Change to your desired color */
    border: none;
  }

  button{
    background-color: rgb(245, 245, 140);
  }
  img{
    width: 100px;
  }
  