body{background-color: bisque;background-image: url('wormhole-2514312.jpg');background-size: 1500px 1500px;border:10px solid black;}
h1{font-family: arial;color:darkblue;}
p{font-size: 30pt;color:green;}